{% extends "admin/change_list.html" %}
{% load i18n admin_urls static admin_list %}

{% block extrastyle %}
    {{ block.super }}
    <link type="text/css" href="{% static 'easy_autocomplete/easy-autocomplete.min.css' %}" rel="stylesheet">
    <link type="text/css" href="{% static 'search_admin_autocomplete/css/styles.css' %}" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" crossorigin="anonymous"></script>
    <script src="{% static 'easy_autocomplete/jquery.easy-autocomplete.js' %}"></script>
    <script src="{% static 'easy_autocomplete/main.js' %}"></script>
{% endblock %}

{% block search %}{% search_form cl %}{% endblock %}